@using BadNews.Elevation
<!DOCTYPE html>
<html lang="ru">
<base href="~/" />
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Bad News</title>
    <meta name="theme-color" content="#563d7c" />
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900"
          rel="stylesheet" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <header class="news-header">
            <a class="news-header-logo text-dark" href="/">Bad News</a>
            @if (ViewContext.IsElevated())
            {
                <span class="text-primary ml-2">есть привилегии</span>
            }
        </header>

        <div class="nav-scroller py-1 mb-2"></div>

        @RenderSection("Header", false)
    </div>

    @RenderBody()

    <script src="/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.js" asp-append-version="true"></script>
    <script src="/js/site.js" asp-append-version="true"></script>
    <script src="_framework/blazor.server.js"></script>
    <partial name="_ValidationScriptsPartial" />
</body>
</html>
