@model IList<int>

<div class="p-4 archive-links-container">
    <h3>Архив новостей</h3>
    <ol class="list-unstyled mb-0">
        @foreach (var year in Model)
        {
            <li>
                <a asp-controller="News" asp-action="Index" asp-route-year="@year" asp-route-pageIndex="0">
                    <text>Новости за </text> @year
                </a>
            </li>
        }
    </ol>
</div>
