<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Bad News</title>
    <meta name="theme-color" content="#563d7c" />
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900"
          rel="stylesheet" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>
    <div class="container">
        <header class="news-header">
            <a class="news-header-logo text-dark" href="/">Bad News</a>
        </header>

        <div class="nav-scroller py-1 mb-2"></div>

        <!-- Header /-->
    </div>

    <!-- Body -->

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8 news-main">
                <div class="news-article">
                    <h4 class="news-article-title">{{header}}</h4>
                    <p class="news-article-meta">
                        {{date}}
                    </p>
                    {{content}}
                </div>
            </div>

            <aside class="col-md-4 news-sidebar">
            </aside>
        </div>
    </main>

    <footer class="news-footer">
        <p>
            <a href="#">Наверх</a>
        </p>
    </footer>

    <!--/ Body -->

    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="/js/site.js"></script>
</body>
</html>
