<div class="news-article">
    <h4 class="news-article-title">{{header}}</h4>
    <p class="news-article-meta">
        {{date}}
    </p>
    <p class="mb-auto">
        {{teaser}}
    </p>
    <a href={{url}}>Читать полностью</a>
</div>
