@model BadNews.Models.Editor.IndexViewModel
<main role="main" class="container">
    <div class="row">
        <div class="m-auto">
            <form asp-controller="Editor" asp-action="CreateArticle">
                <div class="p-2">
                    <div>
                        <label>Заголовок*</label>
                    </div>
                    <div>
                        <input asp-for="Header" type="text" size="80">
                    </div>
                    <div>
                        <span asp-validation-for="Header" class="text-danger"></span>
                    </div>
                </div>
                <div class="p-2">
                    <div class="mr-2">
                        <label>Тизер</label>
                    </div>
                    <div>
                        <textarea asp-for="Teaser" cols="80" rows="5"></textarea>
                    </div>
                    <div>
                        <span asp-validation-for="Teaser" class="text-danger"></span>
                    </div>
                </div>
                <div class="p-2">
                    <div class="mr-2"><label>Текст статьи в HTML</label></div>
                    <div>
                        <textarea asp-for="ContentHtml" cols="80" rows="15"></textarea>
                    </div>
                    <div>
                        <span asp-validation-for="ContentHtml" class="text-danger"></span>
                    </div>
                </div>
                <div class="p-2 mb-4 text-center">
                    <button class="btn btn-primary" type="submit">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</main>
